<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185949997155-npv2dlgr1un2p9uk4dipajrkha35bl2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185949997155-npv2dlgr1un2p9uk4dipajrkha35bl2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAiLn9jeOUkvV9M-kDo9oM3utV5SoOpZNk</string>
	<key>GCM_SENDER_ID</key>
	<string>185949997155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalBakhrom.SwiftCardReader</string>
	<key>PROJECT_ID</key>
	<string>swiftscancard</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftscancard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185949997155:ios:9dfef915022642dafe1056</string>
	<key>DATABASE_URL</key>
	<string>https://swiftscancard.firebaseio.com</string>
</dict>
</plist>